body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #F1F5FC;
}

.main {
  width: 500px;
  background-color: white;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1), -5px 0px 10px 0px rgba(0, 0, 0, 0.1), 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

}

.nav {
  width: 100%;
  background-color: #203774;
  height: 90px;
  border-radius: 15px 15px 0 0;
  color: white;
  font-size: 30px;
}

.nav_content i{
  font-size: 20px;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 30px;
}

.day_area{
  margin: 25px 0;
}

.date{
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 50px;
}

.fa-angle-left{
  color:#9A9A9A;
}

.tandd{
  margin: 20px 0 20px 0;
}

.day{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  font-weight: 800;
}
.today{
  font-size: 15px;
}

.activity{
  background-color: #203774;
  width: 350px;
  height: 200px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding:20px
}

.left{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0  auto;
}
.left h1{
  font-weight: 700;
  font-size: 20px;
}

.trained{
  font-size: 12px;
}

.circle{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;
}

.trainer{
  display: flex;
  align-items: center;
  gap:5px
}

.trainer p{
  font-size: 14px;
  font-weight: 600;
}


.right{
  display: flex;
  flex-direction: column;
 /* justify-content: center; */
 margin: 0 auto;
}

.right button{
background-color: white;
padding: 10px 20px;
margin-top: 20px;
font-weight: 600;
border-radius: 5px;
}


.space{
  height: 50px;
}

@media (max-width: 768px) {
  .main {
      width: 90%;
      height: auto;
  }

  .nav {
      font-size: 24px;
  }

  .nav_content i {
      font-size: 18px;
  }

  .date {
      font-size: 20px;
  }

  .activity {
      width: 90%;
      flex-direction: column;
      height: auto;
      padding: 10px;
  }

  .left h1 {
      font-size: 18px;
  }

  .trained {
      font-size: 10px;
  }

  .circle {
      width: 20px;
      height: 20px;
  }

  .trainer p {
      font-size: 12px;
  }

  .right button {
      font-size: 14px;
  }
}


@media (max-width: 480px) {
  .nav {
      font-size: 20px;
  }

  .nav_content i {
      font-size: 16px;
  }

  .date {
      font-size: 18px;
  }

  .activity {
      width: 90%;
      padding: 10px;
  }

  .left h1 {
      font-size: 16px;
  }

  .trained {
      font-size: 8px;
  }

  .circle {
      width: 16px;
      height: 16px;
  }

  .trainer p {
      font-size: 10px;
  }

  .right button {
      font-size: 12px;
  }
}