/* Add CSS here */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #057287;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    /* background-color: white; */
    width: 350px;
    height: 70%;
    box-shadow: 0 0 50px #111111b6;
    background-color: #208FA3;
}

.top_bar {
    width: 100%;
    height: 80px;
    /* background-color: #208FA3; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day {
    font-size: 20px;
}

.date {
    font-size: 14px;
    color: #7FBFCA;
}

.results {
    background-color: white;
    height: 255px;
    box-shadow: 0px 15px 40px -15px #111111b6;
}

.stats {
    height: 220px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_bar {
    background-color: white;
    height: 70px;
}

.latest {
    font-size: 25px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.678);
    margin: 12px 0;
    ;
}

.activity {
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin: 10px 0;
    align-items: center;
}

.activity1 {
    display: flex;
    gap: 35px;
    font-size: 18px;
    margin: 10px 0;
    align-items: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.outer {
    width: 160px;
    height: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    ;
}

/* .inner_line{
    width:130px;
    height: 130px;
    border: solid 1px red;
    border-radius: 50%;
} */
.inner {
    color: #7C7C7C;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.0.5px 0px rgba(0, 0, 0, 0.15), 0px, 12px, 10px, -10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 157;
    }
}

svg {
    position: absolute;
}

#number {

    font-weight: 500;
    font-size: 40px;
}

.kilo {

    font-size: 20px;
}

.res {
    margin: 10px 0;
    color: #7C7C7C;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.numbers {
    font-size: 30px;
}

.calories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px
}

.bottom_bar i {
    color: #208FA3;
    font-size: 30px;
}

.bottom_bar button {
    color: white;
    font-size: 30px;
    font-weight: 700;
    width: 120px;
    height: 50px;
    background: linear-gradient(90deg, rgba(218, 34, 255, 1) 0%, rgba(151, 51, 238, 1) 100%);
    ;
    border-radius: 25px;

}