/* Add CSS here */
body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.start_page {
    background-image: url('https://images.unsplash.com/photo-1529686159790-3246c5082afb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second_page {
    align-items: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1614850523459-c2f4c699c52e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: none;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgba(10, 10, 10, 0.644);
    padding: 10px 0;
    border-radius: 5px;
    width: 120px;
    color: white;
    box-shadow: 0px 10px 20px #7ea5cba2;
}

.confirm {
    display: none;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.747);

}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 10px 0;
    color: grey
}

hr {
    width: 90%;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    width: 60px;
    height: 60px;
    background-color: #D2DEEA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 5px;
    margin: 10px 0;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.text_blue {
    width: 60%;
    font-size: 18px;
    text-align: center;
    color: #3A7BBA;
}

.text_grey {
    width: 80%;
    font-size: 14px;
    text-align: center;
    color: grey;
    margin: 10px 0;
}

.blue {
    background-color: #3A7BBA;
}

.leave {
    background-color: #3A7BBA;
}

.leave:hover {
    background-color: #D2DEEA;
    color: #3A7BBA;
}

.blue:hover {
    background-color: #D2DEEA;
    color: #3A7BBA;
}

.clear {
    background-color: #D2DEEA;
    color: #3A7BBA;
}

.clear:hover {
    background-color: #3A7BBA;
    color: white;
}
